<ul class="topbar">
	<a href="/me"><li><u>A</u>bout</li></a>
	<a href="https://itunes.apple.com/us/artist/%D1%87ayu/1375112052" target="_blank"><li><u>A</u>pple Music</li></a>
	<a href="https://www.instagram.com/chayu_music/" target="_blank"><li><u>I</u>nstagram</li></a>
	<a href="https://soundcloud.com/chayumusic/" target="_blank"><li><u>S</u>oundcloud</li></a>
	<a href="https://chayumusic.bandcamp.com/releases" target="_blank"><li><u>B</u>andcamp</li></a>
	<a href="https://www.youtube.com/channel/UCYnOM-39-kaPF-083TUUg4g/" target="_blank"><li><u>Y</u>outube</li></a>
	<a href="https://www.mixcloud.com/dannyboutoussov/" target="_blank"><li><u>M</u>ixcloud</li></a>
	<a href="https://www.facebook.com/chayumusic/" target="_blank"><li><u>F</u>acebook</li></a>
	<a href="https://open.spotify.com/artist/42HGF6dreHy3Q1Rl9Vxoe8" target="_blank"><li><u>S</u>potify</li></a>
</ul>